/* Typography */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 30px;
    font-weight: 600;
}
h3{
    font-size: 20px;
}
ul{
    list-style: none;
}
textarea {
    resize: none;
 }
/* ================ */
/* Home Banner Area */
#home-banner-area{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#home-banner-area h2{
    font-weight: 400;
}
#home-banner-area p{
    color: #707070;
}
.container{    
    height: 700px;
    padding: 4% 9%;
}
.half-width{
    width: 50%;
    float: left;
}
.half-width h2{
    position: relative;
    top: 30px;
}
.half-width #owner-name{
    color: #EC4C7A;
}
.half-width-left{
    position: relative;
    top: 70px;
}
.half-width-left p{
    padding-bottom: 20px;
}
.half-width img{
    width: 100%;
}
.link-btn{
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 30px;
    background-image: linear-gradient(45deg, #ec4f91, #ed4b70);
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.link-btn:hover{
    background-image: linear-gradient(-45deg, #ec4f91, #ed4b70);
    transition: .5s ease;
}
/* ================ */
/* Biography Area */
#biography-area{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#biography-area .half-width img{
    width: 95%;
    margin-right: 5%;
}
#biography-area .half-width-right{
    position: relative;
    text-align: justify;
    width: 45%;
    margin-left: 5%;
    top: 70px;
}
#biography-area .half-width-right h2{
    padding-bottom: 30px;
}
#biography-area .half-width-right p{
    padding-bottom: 30px;
    color: #707070;
}
/* ================ */
/* Latest Work Area */
#latest-work-area{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#latest-work-area .container{
    height: 500px;
}
#latest-work-area h2{
    text-align: center;
    padding-bottom: 50px;
}
#latest-work-area .single-work{
    float: left;
    width: 30%;
    margin-right: 5%;
}
#latest-work-area .single-work:last-child{
    margin-right: 0;
}
#latest-work-area img{
    width: 100%;
    box-shadow: 4px 4px 15px gray;
    border-radius: 5px;

}
#latest-work-area img:hover{
    box-shadow: 10px 10px 30px gray;
    transition: .5s ease;
}
/* ================ */
/* Latest Work Area */
#testimonial-area{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#testimonial-area .container{
    text-align: center;
    height: 600px;
}
#testimonial-area p{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 40px;
}
#testimonial-area p small{
    color: #707070;
}
#testimonial-area h4{
    margin: 50px 0 0 0;
}
#testimonial-area a{
    display: inline-block;
    text-transform: none;
    padding: 30px 100px ;
    margin-top: 40px;
}
#testimonial-area a h3{
    margin: 5px;
}
#testimonial-area a h5{
    margin: 5px;
}
/* ================ */
/* Contact Form Area */
#contact-form-area{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#contact-form-area .contact-form-head{
    text-align: center;
    padding-bottom: 30px;
}
.form-group{
    margin-bottom: 1rem;
    line-height: 1.8;
    font-weight: 400;
}
.contact-form{
    padding-top: 50px;
}
.form-control{
    width: 90%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    outline-color: black;
    font-size: 15px;
}
.submit-btn{
    text-transform: uppercase;
    padding: 12px 30px;
    background-image: linear-gradient(45deg, #ec4f91, #ed4b70);
    color: white;
    border-radius: 5px;
    font-weight: 700;
    border: none;
    outline: none;
    font-size: 15px;
}
.submit-btn:hover{
    background-image: linear-gradient(-45deg, #ec4f91, #ed4b70);
    transition: .5s ease;
}
/* ================ */
/* Social Icon Area */
#social-icon-area{
    width: 100%;
    margin: 0 auto;
}
#social-icon-area ul{
    text-align: center;
}
#social-icon-area ul li{
    text-align: center;
    display: inline-block;
    padding: 10px;
}
#social-icon-area i{
    font-size: 40px;
    opacity: 0.3;
}
#social-icon-area i:hover{
    opacity: 1;
    transition: .5s ease;
}
/* Footer Area */
/* ================ */
footer{
    text-align: center;
    color: #707070;
}
/* ================ */